<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444281700591-l3lm336r9gmqg1ki57gkrfsgnu3en0dn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444281700591-l3lm336r9gmqg1ki57gkrfsgnu3en0dn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>444281700591-6ukhfh3sooalvf974ngltp7o9kjohbu4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1WUKwEBIyE9yHdfHAcGl2RE93CxIuo3o</string>
	<key>GCM_SENDER_ID</key>
	<string>444281700591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shnatter</string>
	<key>PROJECT_ID</key>
	<string>shnatter-a69cd</string>
	<key>STORAGE_BUCKET</key>
	<string>shnatter-a69cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444281700591:ios:2e9a4778d4815cd7379b1a</string>
	<key>DATABASE_URL</key>
	<string>https://shnatter-a69cd-default-rtdb.firebaseio.com</string>
</dict>
</plist>