<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444281700591-1p7f4j0taft8hkg62mjcv5em4aeegjce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444281700591-1p7f4j0taft8hkg62mjcv5em4aeegjce</string>
	<key>API_KEY</key>
	<string>AIzaSyB1WUKwEBIyE9yHdfHAcGl2RE93CxIuo3o</string>
	<key>GCM_SENDER_ID</key>
	<string>444281700591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shnatter</string>
	<key>PROJECT_ID</key>
	<string>shnatter-a69cd</string>
	<key>STORAGE_BUCKET</key>
	<string>shnatter-a69cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444281700591:ios:81f6abe04b42f719379b1a</string>
</dict>
</plist>